!.gitkeep
.DS_Store
.env
.idea/
.vs/
.vscode/
.trae/
backup/
*.log
node_modules/
thumbs.db

# npm package
.npmrc
npm-debug.log.*
package-lock.json
npm-shrinkwrap.json
.npm/

.yarn-integrity
yarn-debug.log*
yarn-error.log*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.cjs
.pnp.loader.mjs
.pnp.data.json

pnpm-lock.yaml
pnpm-debug.log*
.pnpm-store/

# Eslint Cache
.eslintcache*

# electron builder
*.provisionprofile
build/*.plist
dist/electron/*
dist/web/*
