image: Visual Studio 2017

platform:
  - x64

cache:
  - node_modules
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 20 x64
  - git reset --hard HEAD
  - corepack prepare yarn@1.22.22 --activate
  - yarn install --non-interactive
  - node --version

build_script:
  - yarn run release

test: off

branches:
  only:
    - master
